extends layout

block content
  .page-header
    h3 Search for Roommate

  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='city') City
      .col-sm-8
        input.form-control(type='text', name='city', id='city', autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='zip') Zip Code
      .col-sm-8
        input.form-control(type='text', name='zip', id='zip')
    .form-group
      label(class='col-sm-2 control-label', for='price') Price Cap
      .col-sm-8
        input.form-control(type='text', name='price', id='price')
    .form-group
      label(class='col-sm-2 control-label', for='people') Person Cap
      .col-sm-8
        input.form-control(type='text', name='people', id='people')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          | Search