extends layout

block content
  .page-header
    h3 create new post

  form.form-horizontal(method='POST', enctype='multipart/form-data')
    input(type='hidden', id='csrf', name='_csrf', value="{ csrf_token() }")
    .form-group
      label(class='col-sm-2 control-label', for='title') Post Title
      .col-sm-8
        input.form-control(type='text', name='title', id='title')
    .form-group
      label(class='col-sm-2 control-label', for='email') E-Mail
      .col-sm-8
        input.form-control(type='text', name='email', id='email')
    .form-group
      label(class='col-sm-2 control-label', for='numPeople') Number of Tenants
      .col-sm-8
        input.form-control(type='text', name='numPeople', id='numPeople')
    .form-group
      label(class='col-sm-2 control-label', for='price') Price
      .col-sm-8
        input.form-control(type='text', name='price', id='price')
    .form-group
      label(class='col-sm-2 control-label', for='address') Street Address
      .col-sm-8
        input.form-control(type='text', name='address', id='address')
    .form-group
      label(class='col-sm-2 control-label', for='city') City
      .col-sm-8
        input.form-control(type='text', name='city', id='city', autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='zip') Zip Code
      .col-sm-8
        input.form-control(type='text', name='zip', id='zip')
    .form-group
      abel(class='col-sm-2 control-label', for='file') Image Upload
      .col-sm-8
        input.form-control(type='file', name='file', id='file')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          | Post

  script.
    //document.getElementById('zip').value = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
    //alert(document.getElementById('csrf').value);
